@import url(https://fonts.googleapis.com/css?family=Merriweather|Open+Sans);

header {
	background-color: #FFED74;
	border: 1px black	solid;
	padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black	solid;
	padding: 20px;
}

article {
	background-color: #E89C6C;
	border: 1px black	solid;
	padding: 20px;
}

aside {
	background-color: #FFC675;
	border: 1px black	solid;
	padding: 20px;
}

footer {
	background-color: #FF957E;
	border: 1px black	solid;
	padding: 20px;
}
		
div, section {
	background-color: #FFE2B8;
	border: 1px black	solid;
	padding: 20px;
	margin: 	auto;
}

img {
	display: 	block;
	margin: 	0 auto;
	
}


span {
	font-family: 'Open Sans', sans-serif;
	color: #000; 
	letter-spacing: 0.3em; 
	text-transform: uppercase;
	font-size: 1em;
	padding: 0 0.2em;
	background: rgba(100,150,150,0.4);
}

body, html {
	height: 100%;
}

h1, h2 {
	font-family: 'Open Sans', sans-serif;
	color: #000; 
	letter-spacing: 0.4em;
	text-align: center;
	margin: auto;
}

h1 {
	font-size: 3em;
	font-weight: lighter;
	line-height: 0.15em;
	padding: 1em;
	border-color: rgb(0,0,0);
}

h2 {
	font-size: 2em;
	font-weight: bolder;
	text-transform: uppercase;
	
}

p, ul {
	font-weight: normal;
	color: #000; 
	font-family: 'Merriweather', georgia, serif;
	margin: 2em;
	font-size: 1em;
	line-height: 1.5em;
	word-spacing: 0.25em;
	padding: 0;
}

.nav_menu_link {
	display: 	inline;
}


.photo-copyright {
	font-weight: normal;
	color: #000000; 
	font-family: 'Karma', serif;
	margin: 4em;
	font-size: 0.75em;
	line-height: 1.5em;
	word-spacing: 0.25em;
	text-align: right;
}


.responsive_image{
	width: 	100%;
	height: 	auto;
}

#wrapper {

}

#logo_main {
	
}

#slogan {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	letter-spacing: 0.15em;
	font-size: 0.85em;
	color: #000; 
	text-align: center;
	margin: auto;
}






