@import url(https://fonts.googleapis.com/css?family=Maitree|Open+Sans);



h1 {
	font-family: 'Open Sans', sans-serif;
	color: #000000; 
	text-align: center;
	font-size: 5em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.4em;
	line-height: 0.15em;

}

body, html {
	height: 100%;
}



body {
	background-color: white;
	font-weight: normal;
	color: #767675; 
	font-family: 'Maitree', serif;
	margin: 2em;
	font-size: 1em;
	line-height: 1.5em;
	word-spacing: 0.25em;

}

#hero-image	{
	background-image: url("../images/hero-image.jpg");
	height: 75%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

#slogan {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	letter-spacing: 0.15em;
	background-color: white;
	text-align: center;
	font-size: 1.25em;
	color: #000000; 
}

#photo-copyright {
	font-weight: normal;
	color: #000000; 
	font-family: 'Maitree', serif;
	margin: 1em;
	font-size: 0.5em;
	line-height: 1.5em;
	word-spacing: 0.25em;

}

p	{
	

}