@import url(https://fonts.googleapis.com/css?family=Merriweather|Open+Sans);



h1, h2 {
	font-family: 'Open Sans', sans-serif;
	color: #010101; 
	letter-spacing: 0.4em;
	text-align: center;
	margin-left: 0.4em;
}

h1 {
	font-size: 3em;
	font-weight: lighter;
	line-height: 0.15em;
}

h2 {
	font-size: 2em;
	font-weight: bolder;
	text-transform: uppercase;
	line-height: 0.25em;
}

body, html {
	height: 100%;
}


p, ul {
	background-color: white;
	font-weight: normal;
	color: #000000; 
	font-family: 'Merriweather', georgia, serif;
	margin: 2em;
	font-size: 1em;
	line-height: 1.5em;
	word-spacing: 0.25em;

}


#hero-image	{
	background-image: url("../images/hero-image.jpg");
	height: 35%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

#slogan {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	letter-spacing: 0.15em;
	background-color: white;
	text-align: center;
	font-size: 0.85em;
	color: #000000; 
	margin-left: 2em;
}

#photo-copyright {
	font-weight: normal;
	color: #000000; 
	font-family: 'Karma', serif;
	margin: 4em;
	font-size: 0.75em;
	line-height: 1.5em;
	word-spacing: 0.25em;
	text-align: right;

}
